.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: xx-large;
  border: 1px black solid;
}

.actionableCard {
  composes: card;
}

.actionableCard:hover {
  border: 2px red solid;
}
